.header {
    width: 100vw;
    /* background-color: rgba(19, 19, 19, 0.1); */
    padding: 2.5rem 0;
    /* margin-bottom: 1rem; */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.nav {
    display: flex;
    justify-content: center;
    gap: 8rem;
    flex-direction: row;
}

.navLink {
    display:inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #fff;
    transition: all 0.3s ease;
}

.navLink:hover {

    color: #000;
}

.active {
    background-color: #fff;
    color: #000;
}