.taskListContainer{
    padding:0.2rem 1.5rem;
}

.taskList{
    list-style:none;
    display:flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
}


.taskItem{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: .6rem;
}

.noTasks{
    text-align: center;
    font-size: 1.2rem;
    color: #666;
}

.checkbox{
    width: 1.5rem;
    height: 1.5rem;
}

.taskText{
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
    text-align: left;
    font-size: 1.1rem;

}

.deleteButton{
    padding: 0.5rem .2rem;
    width: 13%;
    background: linear-gradient(45deg, #ff4a4a, #ff3838);
    color: #fff;
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
}

.done {
    text-decoration: line-through; /* 文字に線を引く */
    background-color: #eee; /* 背景色をグレーにする */
    color: #999; /* 文字色をグレーにする */
}

.editButton{
    padding: 0.5rem .2rem;
    width: 13%;
    background: linear-gradient(45deg, #4CAF50, #45a049);
    color: #fff;
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
}

.editInput{
    padding: 0.5rem .8rem;
    color: rgba(102, 102, 102, 0.7);
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

.saveButton{
    padding: 0.5rem .8rem;
    width: 20%;
    background: linear-gradient(45deg, #2196F3, #1976D2);
    color: #fff;
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
}

.cancelButton{
    padding: 0.5rem .8rem;
    width: 20%;
    background: linear-gradient(45deg, #ff4a4a, #ff3838);
    color: #fff;
    border-radius: 0.5rem;
    font-weight: bold;
    border: none;
}

.dueText{
    margin-left: .4rem;
    font-size: .8rem;
    color: #1f1f1f;
    width: 24%;
    text-align: left;
}